body {
    font-family: sans-serif;
}
.container {
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#tableContainer {
    flex-grow: 1;
    overflow: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    border: 1px solid #ddd;
    padding: 0;
    text-align: left;
}
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #444444;
    position: sticky;
    top: 0;
    color:white;
}
tbody th {
    position: sticky;
    left: 0;
}
.dropdowns {
    margin-bottom: 20px;
}
.dropdowns div {
    margin-bottom: 10px;
}
input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    padding: 8px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:focus {
    outline: 1px solid #007acc; /* VS Code's default focus color */
    background-color: var(--vscode-input-background);
}

input:hover {
    background-color: var(--vscode-input-background);
}

.changed {
    background-color: #90ee90; /* Light Green */
}

.highlight-row > td {
    background-color: #f0f0f0; /* Light Grey */
}

.highlight-col {
    background-color: #f0f0f0; /* Light Grey */
}
